* {
    margin: 0;
    padding: 0;
}

section {
    margin: 60px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 15px;
}

.nav-icon img {
    width: 200px;
}

.manu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.manu-container li {
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.primary-btn {
    width: 100px;
    height: 50px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    background-color: blueviolet;
    color: white;
    border: none;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: 20px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.hero-content h1 {
    font-size: 40px;
    color: rgb(104, 49, 156);
}

.hero-content p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.popular-course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.popular-course h1 {
    font-weight: bold;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.popular-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
}

.popular-btn {
    background-color: blueviolet;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    color: white;
}

.group-img-container {
    width: 90%;
    margin: auto;
}

.bonus-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 120px;
    border: 2px solid;
    box-shadow: 1px 1px 15px;
    border: none;
}

.bonus-content img {
    width: 70px;
    text-align: center;
}

.bonus-content h1 {
    font-size: 30px;
    font-weight: bold;
    color: blue;
    text-align: center;
}

.bonus-content p {
    font-weight: bold;
    padding-left: 7px;
    text-align: center;
}

.group-img img {}