* {
    margin: 0;
    padding: 0;
}

section {
    margin: 60px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 15px;
}

.nav-icon img {
    width: 200px;
}

.manu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.manu-container li {
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.primary-btn {
    width: 100px;
    height: 50px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    background-color: blueviolet;
    color: white;
    border: none;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: 20px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.hero-content h1 {
    font-size: 40px;
    color: rgb(104, 49, 156);
}

.hero-content p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.popular-course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.popular-course h1 {
    font-weight: bold;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.popular-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
}

.popular-btn {
    background-color: blueviolet;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    /* font-weight: bold; */
    height: 50px;
    color: white;
}

.head-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 90%;
    margin: auto;
    position: relative;
    margin-top: 100px;

}

.group-img-container {
    position: relative;
    width: 50%;


}

.bonus-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    border-radius: 7px;
    width: 120px;
    border: 2px solid;
    box-shadow: 1px 1px 15px;
    border: none;
    position: absolute;
    bottom: 520px;
    left: 50px;
}

.monir-sir {
    position: absolute;
    top: 300px;
    right: 250px;
}

.bonus-content img {
    width: 70px;
    text-align: center;
    padding: 15px;
}

.bonus-content h1 {
    font-size: 30px;
    font-weight: bold;
    color: blue;
    text-align: center;
}

.bonus-content p {
    font-weight: bold;
    padding-left: 7px;
    text-align: center;
}

.group-img img {
    margin-left: 100px;
}

.group-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.flexible-title {
    position: absolute;
    top: 230px;
    left: 200px;
    font-weight: bold;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flexible {
    width: 400px;
}

.flexible-description {
    position: absolute;
    top: 300px;
    left: 160px;
}

.radio-title {
    font-weight: bold;
    font-size: 17px;
    margin-left: 5px;
}

.radio-container {
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
}

.company-icon-container {
    width: 90%;
    margin: auto;
    border-top: dotted;
}

.icon-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:25px;
    margin-bottom: 60px;

}

.icon-content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}

.icon-content img {
    width: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 90%;
    margin: auto;
}

.bdcalling {
    display: flex;
    flex-direction: column;
}

.footer-card {
    width: 20%;
    gap: 40px;
    margin-top: 50px;

}

.social-media-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 6px;
}

.social-media img {
    width: 40px;
    border-radius: 30%;
}


.useful-link div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 45px;
}

.course-category {
    display: flex;
    flex-direction: column;

}

.category-title p {
    margin-top: 10px;
}

.contact-info {}

.contact-icon {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.contact-card {
    display: flex;
    align-items: center;
    gap: 6px;
}

.contact-card img {
    width: 40px;
    border-radius: 50%;
}